<html>

<body style="background-color:black;color:white">
    <h1 style="text-align:center">Welcome to SSO Central Server</h1>
    <button style="float:right"><a href="/logout">Logout</a></button>

</body>

</html>