<html>

<body style="background-color:black;color:white">
    <h1 style="text-align:center">SSO Central Server</h1>
    <div style="text-align:center;margin:200px">
        <button style="margin:50px;font-size:20px;width:200px"><a href="http://localhost:8000/login">Sign in</a></button>
        <button style="margin:50px;font-size:20px;width:200px"><a href="http://localhost:8000/register">Sign Up</a></button>
    </div>

</body>

</html>