<html>

<head>
    <title>Sign Up</title>
</head>

<body>

</body>

</html>
<h1>SSO Central Server Register</h1>
<form action="/login" method="post">

    <div class="container">
        <label for="uname"><b>Email</b></label>
        <input type="text" placeholder="Enter email" name="email">

        <label for="psw"><b>Password</b></label>
        <input type="text" placeholder="Enter Password" name="pwd">


        <button type="submit">Login</button>
        <button><a href="/register">Sign up</a></button>
    </div>


</form>